:root {
--main-color:#212121;
font-family: 'Roboto', sans-serif;
color:#212121;
font-weight: 400;
font-size: 14px;
line-height:1.17;
letter-spacing: 0.03em;
background: #FFFFFF;
}

/* Body */
body {

}
/* A hover */
a {
text-decoration: none;
}

a:hover,:focus {
color:#2196F3;
}

/* Bg */
.bg {
background: #2F303A;
}
    
/* Header */
.header {
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
/* Button */
button {
cursor: pointer;
background: #2196F3;
border-radius: 4px;
}
.button:hover,:focus {
color:#2196F3;
}
/* WebStudio */
.logo {
width: 145px;
left: 215px;
top: 24px;
height: 31px;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
color: #2196F3;
line-height: 31px;
}

/* Студія */
.studio {
width: 45px;
left: 453px;
top: 32px;
color: #2196F3;
font-weight: 500;
}

/* Портфоліо */
.portfolio {
width: 72px;
left: 548px;
top: 32px;
color: #212121;
font-weight: 500;
}

/* Контакти */
.contacts {
width: 64px;
left: 670px;
top: 32px;
color: #212121;
font-weight: 500;
}

/* info@devstudio.com */
.address1 {
position: absolute;
width: 135px;
left: 1078px;
top: 32px;
color: #808080;
font-weight: 500;
}

/* +38 096 111 11 11 */
.address2 {
width: 122px;
left: 1263px;
top: 32px;
color: #808080;
font-weight: 500;
}

.uvaga1 {
font-weight: 700;
text-transform: uppercase;
}

.uvaga2 {
line-height: 171%;
color: #757575;
}

/* Чим ми займаємося */

.chim {
width: 366px;
height: 42px;
left: 617px;
top: 966px;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
}
/* img-1 */
.img-1 {

}
/* img-2 */
.img-2 {

}
/* img */
.img-3 {

}
/* Чим ми займаємося */
.command {

font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
}

/* Ul */
ul {
list-style: none;
    }

/* Наша команда */
.list1 {
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
}

/* Box */
.box {

}

/* img-4 */
.img-4 {

}
/* member1 */
.member1 {

}
/* memberpos */
.memberpos {

}
/* Box-1 */
.box-1 {

}
/* img-5 */
.img-5 {

}
/* member2 */
.member2 {

}
/* memberpos-1 */
.memberpos-1 {

}
/* Box-2 */
.box-2 {

}
/* img-6 */
.img-6 {

}
/* member3 */
.member3 {

}
/* memberpos-2 */
.memberpos-2 {

}
/* Box-3 */
.box-3 {

}
 /* img-7 */
.img-7 {

}
/* member4 */
.member4 {

}
/* memberpos-3 */
.memberpos-3 {

}
/* Footer bg */
.footer {

background: #2F303A;       
}
.logo-1 {

}
/* м. Київ, пр-т Лесі Українки, 26 */
.addpos1 {

line-height: 24px;
/* or 171% */
font-weight: 500;
}


/* info@devstudio.com */
.addpos2 {

line-height: 24px;
/* or 171% */
color: #808080;
font-weight: 500;
}
/* +38 096 111 11 11 */
.addpos3 {

line-height: 24px;
/* or 171% */
color: #808080;
font-weight: 500;
}
    
   
/* Portfolio */
.button2 {
cursor: pointer;
background: #2196F3;
border-radius: 4px;
}

/* List-item */
.list-item {

}